.palette-1 {

        .preview__name{
            color: $color-darkGreen;
            border-left: solid $color-start rem(5);
        }
        .preview__job {
            color: $color-start;
        }
        .preview__icons--color {
            color: $color-darkGreen;
            border:solid 2px $color-input;
        }
}

.palette-2 {

    .preview__name{
        color: $color-blood;
        border-left: solid $color-rustyRed rem(5);
    }
    .preview__job {
        color: $color-rustyRed;
        border-left: solid $color-rustyRed rem(5);
    }
    .preview__icons--color {
        color: $color-blood;
        border: solid 2px $color-tomate;
    }
}

.palette-3 {

    .preview__name{
        color: $color-slate;
        border-left: solid $color-fadedOrange rem(5);
    }
    .preview__job {
        color: $color-fadedOrange;
        border-left: solid $color-fadedOrange rem(5);
    }
    .preview__icons--color {
        color: $color-slate;
        border:solid 2px $color-lightGrey;
    }
}