<fieldset class="desing">
    <legend class="desing__legend"><i class="fa-regular fa-object-ungroup desing__legend--icon"></i>Diseña</legend>
    <span class="desing__color"> Colores</span>
    </legend>
    <div class="desing__radio">
        <label for="">
            <input type="radio" name="" id="">
            <div> <img src="" alt=""></div>
        </label>
        <label for="">
            <input type="radio" name="" id="">
            <div> <img src="" alt=""></div>
        </label>
        <label for="">
            <input type="radio" name="" id="">
            <div> <img src="" alt=""></div>
        </label>
    </div>
</fieldset>