<fieldset class="form">
    <div class="form__share">
        <legend class="form__legend">
            <i class="fa-solid fa-share-nodes form__legend--icon"></i>
            Comparte
        </legend>
        <i class="fa-solid fa-angle-up collapse legend--arrow--up comparte"></i>
        <i class="fa-solid fa-angle-down legend--arrow--down"></i>
    </div>

    <div class="js-form collapse">
        <label for="create-card" class="form__label">
            <div class="form__box js_form_box"> 
                <i class="fa-regular fa-address-card form__box--icon"></i> 
                <button class="form__box--button js_button_submit">Crear tarjeta</button>
                <!-- <input type="submit" name="create-card"
                    id="create-card" value="Crear tarjeta" class="form__box--button js_button_submit" /> -->
            </div>
        </label>
        <div class="CardContainer collapse js_card_container">
            <h3 class="CardContainer__card js_card_title"></h3>
            <h4 class="CardContainer__url js_url"></h4>
            <div class="container__twitter js_container__twitter collapse">
                <label for="compartir-twitter"><a href="" target="_blank" class="js_twitter"><i class="fa-brands fa-twitter container__twitter__icon"></i><input type="submit"
                        name="compartir-twitter" id="compartir-twitter" value="Compartir en twitter"
                        class="container__twitter__btn "></a></label>
            </div>
        </div>

    </div>

    <div class="border_button"></div>

</fieldset>