<fieldset class="design">
    <legend class="design__legend"><i class="fa-regular fa-object-ungroup design__legend--icon"></i>Diseña</legend>
    <span class="design__color"> Colores</span>
    </legend>
    <div class="design__radio">
        <label for="">
            <input type="radio" name="" id="">
            <div> <img src="" alt=""></div>
        </label>
        <label for="">
            <input type="radio" name="" id="">
            <div> <img src="" alt=""></div>
        </label>
        <label for="">
            <input type="radio" name="" id="">
            <div> <img src="" alt=""></div>
        </label>
    </div>
</fieldset>