<fieldset class="fill">
        <div class="fill__title">
                <legend class="fill__legend">
                        <i class="fa-regular fa-keyboard fill__legend--icon"></i> Rellena
                </legend>
                <i class="fa-solid fa-angle-up collapse legend--arrow--up"></i>
                <i class="fa-solid fa-angle-down legend--arrow--down"></i>
        </div>

        <div class="js-fill collapse">
                <label for="name" class="fill__label fill__label--name"><span class="fill__label__text--name"> Nombre
                                completo<span class="asterisc">*</span></span>
                        <input class="fill__input fill__input--name js-input js_input_name" type="text" name="name" id="name"
                                placeholder="Ej: Sally Jill" required />
                </label>
                <label for="job-position" class="fill__label fill__label--jobposition"><span
                                class="fill__label__text--jobposition">Puesto<span class="asterisc">*</span></span>
                        <input class="fill__input fill__input--jobposition js-input js_input_job" type="text" name="job"
                                id="job-position" placeholder="Ej: Front-end unicorn" required />
                </label>
                <label for="profile-image" class="fill__label fill__label--profileimage">
                        <div class="fill__label__container ">
                                <label class="fill__label__container--button" for="img-selector">Añadir imagen</label>
                                <input type="file" name="photo" id="img-selector"
                                        class="action__hiddenField js__profile-upload-btn js_input_photo fill__label__text--profileimage collapse"
                                        required>

                                <div class="fill__label__container--box js__profile-preview"></div>
                        </div>


                </label>
                <label for="emailaddress" class="fill__label fill__label--email"><span
                                class="fill__label__text--email">Email<span class="asterisc">*</span></span>
                        <input class="fill__input fill__input--email js-input js_input_email" type="email" name="email"
                                id="email" placeholder="Ej: sally.hill@gmail.com" required />
                </label>
                <label for="telefono" class="fill__label fill__input--telefono">
                        <span class="fill__label__text--telefono">Teléfono</span>
                        <input class="fill__input fill__input--telefono js-input js_input_phone" type="text" type="tel"
                                name="phone" id="phone" placeholder="Ej: 555-55-55-55" />
                </label>
                <label for="linkedin" class="fill__label fill__label--linkedin">
                        <span class="fill__label__text--linkedin">Linkedin<span class="asterisc">*</span></span>
                        <input class="fill__input fill__input--linkedin js-input js_input_linkedin" type="text" name="linkedin"
                                id="linkedin" placeholder="Ej: linkedin.com/in/sally-hill" required />
                </label>
                <label for="github" class="fill__label fill__label--github"><span
                                class="fill__label__text--github">Github<span class="asterisc">*</span></span>
                        <input class="fill__input fill__input--github js-input js_input_github" type="text" name="github" id="github"
                                placeholder="Ej: @sally-hill" required />
                </label>
        </div>
        <div class="border_button"></div>
</fieldset>