<fieldset class="design">
    <div class="design__title">
        <legend class="design__legend"><i class="fa-regular fa-object-ungroup design__legend--icon"></i>Diseña</legend>
        <i class="fa-solid fa-angle-up collapse legend--arrow--up"></i><i
            class="fa-solid fa-angle-down legend--arrow--down"></i>

    </div>
    <section class="design__palette js-design">
        <span class="design__palette__span"> Colores</span>
        <div class="design__palette__radio">
            <label for="green" class="design__palette__radio--colors">
                <input type="radio" name="green" id="green">
                <div class="design__palette__green"></div>
            </label>
            <label for="red" class="design__palette__radio--colors">
                <input type="radio" name="red" id="red">
                <div class="design__palette__red"> </div>
            </label>
            <label for="grey" class="design__palette__radio--colors">
                <input type="radio" name="grey" id="grey">
                <div class="design__palette__grey"></div>
            </label>
        </div>
    </section>
    <div class="border_button"></div>

</fieldset>