<img src="./assets/images/logo-awesome.svg" alt="Logo principal" class="main__img">
<h1 class="main__title">
    Crea tu tarjeta de visita
</h1>
<p class="main__text">
    Crea mejores contactos profesionales de &NewLine;forma fácil y cómoda
</p>

<ul class="main__list">
    <li class="main__list--item">
        <i class="fa-regular fa-object-ungroup main__list--icon"></i> Diseña
    </li>
    <li class="main__list--item">
        <i class="fa-regular fa-keyboard main__list--icon"></i> Rellena
    </li>
    <li class="main__list--item">
        <i class="fa-solid fa-share-nodes main__list--icon"></i> Comparte
    </li>
</ul>

<a href="./create.html" class="main__button">Comenzar</a>