<section class="preview">

    <button class="preview__button"><i class="fa-regular fa-trash-can preview__button--can"></i>Reset</button>
    <article class="preview__container">
        <h2 class="preview__name">Nombre apellido</h2>
        <h3 class="preview__job">Front-end developer</h3>
        <div class="preview__img js__profile-image">
        </div>
        <ul class="preview__icons">
            <li><a href="" class="telephone"><i class="fa-solid fa-mobile-screen-button preview__icons--color"></i></a>
            </li>
            <li><a href="" class="emailadress"><i class="fa-regular fa-envelope preview__icons--color"></i></a></li>
            <li><a href="" class="linkedin"><i class="fa-brands fa-linkedin-in preview__icons--color"></i></a></li>
            <li><a href="" class="github"><i class="fa-brands fa-github-alt preview__icons--color"></i></a></li>
        </ul>
    </article>

</section>