<section>
    <i class="fa-regular fa-trash-can"></i><button>Reset</button>
    <article>
        <h2>Nombre apellido</h2>
        <h3>Front-end developer</h3>
        <div></div>
        <ul>
            <li><a href=""><i class="fa-solid fa-mobile-screen-button"></i></a></li>
            <li><a href=""><i class="fa-regular fa-envelope"></i></a></li>
            <li><a href=""><i class="fa-brands fa-linkedin-in"></i></a></li>
            <li><a href=""><i class="fa-brands fa-github-alt"></i></a></li>
        </ul>
    </article>
</section>