@mixin form-title {
  font-size: rem(18);
  color: $color_gunMetal;
  font-family: $font-Open;
  font-weight: 600;
  text-transform: uppercase;
}
@mixin form-label {
  color: $color-darkGreen;
  font-family: $font-Open;
  font-size: rem(14);
  line-height: 1.43;
}
@mixin form-placeholder {
  border: rem(0.5) solid $color-input;
  font-family: $font-Open;
  font-size: rem(14);
  line-height: 1.43;
  // padding: rem(3) rem(205) rem(7) rem(9);
}
@mixin icons-landing {
  color: $color-orange;
  font-size: rem(21);
}
@mixin icons {
  color: $color-orange;
  font-size: rem(21);
  padding-right: rem(5);
}
@mixin arrow__expand {
  color: $color_gunMetal;
  font-size: rem(18);
}

@mixin border_button {
    border-bottom: rem(1) solid $color-lineFormulary;
    width: 95%;
    padding-top: rem(30);
}