// fonts
$font-Merri: 'Merriweather', serif;
$font-Open: 'Open Sans', sans-serif;
$font-Mont: 'Montserrat', sans-serif;

// colors
$color-darkGreen: #114e4e; // color principal dentro de los imput
$color-orange: #e17334; // H1 e iconos de diseña, rellena y comparte
$color-start: #438792; // botón de comenzar
$color_gunMetal: #54585a; // color principal títulos de input
$color_footer: #6b6b6b; // letra del footer
$color-input: #a2deaf; // contenedores y border de iconos
$color-placeHolder: #c5c5c5; // color letra placeholder
$color-lineFormulary: #d8d8d8; // La línea que aparece en el formulario
$color-whiteGround: #f5f5f5;
$color-whireOriginal: #ffffff; // blanco puro
$color-preview1: #bfcdd0;
$color-preview2: #dde9ed;
$color-azure: #00a0f5;
$color-blood: #420101; //palette 2 title
$color-tomate: #e95626; //palette 2
$color-rustyRed: #bd1010; // palette 2
$color-slate: #3e5b65; //palette 3 title
$color-fadedOrange: #eab052; //palette 3 job
$color-lightGrey: #a0c0cf;
$color-BackButton: #d5d5d5;

$color-lightGrey: #a0c0cf;
$color-BackButton: #d5d5d5;
