//Landing

.main {
  height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-whiteGround;
  margin-bottom: rem(7);
  @include tablet {
    height: 90vh;
  }
  &__img {
    width: rem(250);
    height: rem(63);
    margin-top: rem(130);
    margin-top: 10%;
    margin-bottom: rem(40);
    @include tablet {
      margin-top: rem(80);
      width: rem(450);
      height: rem(126);
    }
  }
  &__title {
    color: $color-orange;
    font-family: $font-Merri;
    font-weight: 900;
    font-size: rem(20);
    margin-bottom: rem(-10);
    @include tablet {
      font-size: rem(30);
    }
  }
  &__text {
    color: $color-darkGreen;
    font-family: $font-Open;
    font-size: rem(12.8);
    white-space: pre-line;
    margin-bottom: rem(20);
    text-align: center;
    @include tablet {
      font-size: rem(20);
      line-height: rem(25);
    }
  }

  &__list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    border: solid rem(1.6) #f2e1d9;
    border-radius: rem(4);
    gap: rem(10);
    padding: rem(12) rem(8) rem(12.8) rem(8);
    margin-top: rem(36);
    margin-bottom: rem(65);
    @include tablet {
      padding: rem(30) rem(40) rem(36) rem(40);
      border: solid rem(4) #f2e1d9;
    }
    &--item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $color_gunMetal;
      font-family: $font-Open;
      text-align: center;
      min-width: 25%;
      gap: rem(5);
      @include tablet {
        font-size: rem(30);
      }
    }
    &--icon {
      @include icons-landing;
      @include tablet {
        font-size: rem(40);
      }
    }
  }
  &__button {
    font-family: $font-Open;
    font-weight: 600;
    color: white;
    font-size: rem(16);
    background-color: $color-start;
    padding: rem(10) rem(20);
    border-radius: rem(50);
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: rem(45);
    @include tablet {
      font-size: rem(25);
      padding: rem(20) rem(40);
      margin-bottom: rem(5);
    }
  }
}
