/*
@import 'components/code';
@import 'components/links';
@import 'layout/page';

@import 'layout/footer';

*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5; }
  .main__img {
    width: 15.625rem;
    height: 3.9375rem;
    margin-top: 8.125rem;
    margin-bottom: 2.5rem; }
  .main__title {
    color: #e17334;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 1.25rem;
    margin-bottom: -0.625rem; }
  .main__text {
    color: #114e4e;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
    white-space: pre-line;
    margin-bottom: 1.25rem;
    text-align: center; }
  .main__list {
    display: flex;
    border: solid 0.1rem #f2e1d9;
    border-radius: 0.25rem;
    gap: 1.875rem;
    padding: 1.125rem 1.25rem 0.8rem 1.25rem;
    margin-top: 2.25rem;
    margin-bottom: 4.0625rem; }
    .main__list--item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #54585a;
      text-align: center;
      min-width: 25%; }
    .main__list--icon {
      color: #e17334;
      width: 2rem;
      height: 1.75rem;
      font-size: 24px; }
  .main__button {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 1rem;
    background-color: #438792;
    padding: 0.625rem 1.25rem;
    border-radius: 1.3125rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 3.125rem; }

.header {
  background-color: white;
  display: flex;
  padding-left: 2.5rem;
  padding-top: 1.9375rem;
  padding-bottom: 1.875rem; }
  .header__logo {
    width: 12.5rem;
    height: 3.125rem; }

.header {
  background-color: white;
  display: flex;
  padding-left: 2.5rem;
  padding-top: 1.9375rem;
  padding-bottom: 1.875rem; }
  .header__logo {
    width: 12.5rem;
    height: 3.125rem; }

.desing {
  background-color: red;
  padding-left: 1.25rem;
  display: flex;
  flex-direction: row; }
  .desing__legend {
    font-size: 1.125rem;
    color: #54585a;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase; }
    .desing__legend--icon {
      color: #e17334;
      width: 2rem;
      height: 1.75rem;
      font-size: 24px; }
  .desing__color {
    color: #114e4e;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    line-height: 1.43;
    text-transform: uppercase; }
  .desing__radio {
    display: flex;
    flex-direction: column; }

.fill {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.875rem;
  margin-top: 1.875rem;
  padding-left: 1.25rem; }
  .fill__legend {
    font-size: 1.125rem;
    color: #54585a;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase; }
    .fill__legend--icon {
      color: #e17334;
      width: 2rem;
      height: 1.75rem;
      font-size: 24px; }
  .fill__label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    .fill__label__text--name, .fill__label__text--jobposition, .fill__label__text--email, .fill__label__text--telefono, .fill__label__text--linkedin, .fill__label__text--profileimage, .fill__label__text--github {
      color: #114e4e;
      font-family: "Open Sans", sans-serif;
      font-size: 0.875rem;
      line-height: 1.43;
      margin-bottom: 0.4375rem;
      margin-top: 0.4375rem; }
  .fill__input {
    color: #c5c5c5;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    line-height: 1.43;
    width: 95%; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.125rem;
  padding-bottom: 1.25rem; }
  .footer__text {
    font-size: 0.875rem;
    font-family: "Open Sans", sans-serif;
    color: #6b6b6b;
    opacity: 0.5;
    margin-top: 1.125rem;
    margin-bottom: 1.125rem; }
  .footer__box {
    padding: 0.3125rem; }
    .footer__box--logo {
      width: 6.4375rem;
      height: 2.5rem; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.125rem;
  padding-bottom: 1.25rem; }
  .footer__text {
    font-size: 0.875rem;
    font-family: "Open Sans", sans-serif;
    color: #6b6b6b;
    opacity: 0.5;
    margin-top: 1.125rem;
    margin-bottom: 1.125rem; }
  .footer__box {
    padding: 0.3125rem; }
    .footer__box--logo {
      width: 6.4375rem;
      height: 2.5rem; }

/*# sourceMappingURL=main.css.map */
