.fill {
  margin-bottom: rem(30);
  margin-top: rem(30);
  padding-left: rem(20);
  padding-right: rem(20);
  padding-bottom: rem(30);
  border-bottom: rem(1) solid $color-lineFormulary;

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__legend {
    @include form-title;
    &--icon {
      @include icons;
    }
    &--arrow {
      @include arrow__expand;
    }
  }
  &__label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__text {
      &--name {
        @include form-label;
        margin-bottom: rem(7);
        margin-top: rem(25);
      }
      &--jobposition,
      &--email,
      &--telefono,
      &--linkedin,
      &--profileimage,
      &--github {
        @include form-label;
        margin-bottom: rem(7);
        margin-top: rem(7);
      }
    }
  }
  &__input {
    @include form-placeholder;
    padding: rem(5);
    // width: 95%; //Podemos poner padding laterales
  }
}
