@import 'layout/header';

//aquí empieza el fieldset de DISEÑA

.desing {
    background-color: red;
    padding-left: rem(20);
    display: flex;
    flex-direction: row;
    
    &__legend{
        @include form-title;
        &--icon{
        @include icons;
        }
         
        
    }
    &__color {
        @include form-label;
        text-transform: uppercase;
        //separar colores de diseña   
    }
    &__radio {
        display: flex;
        flex-direction: column;
        
    }

}




// aquí empieza el fieldset de RELLENA
.fill {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: rem(30) ;
  margin-top: rem(30);
  padding-left: rem(20);
  
  &__legend {
    @include form-title;
    &--icon{
        @include icons;
    }
  }
  
  &__label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &__text {
      &--name,
      &--jobposition,
      &--email,
      &--telefono,
      &--linkedin,
      &--profileimage,
      &--github {
     
        @include form-label;
        margin-bottom: rem(7);
        margin-top: rem(7);
      
    }
  }
}
  &__input {
    @include form-placeholder;
    width: 95%;  //Podemos poner padding laterales
}
}


// aquí empieza el fieldset de COMPARTE



// aquí empieza el footer del formulario
@import 'layout/footer';