.fill {
  margin-bottom: rem(30);
  margin-top: rem(30);
  padding-left: rem(20);
  padding-right: rem(20);
  padding-bottom: rem(30);
  // border-bottom: rem(1) solid $color-lineFormulary;

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__legend {
    @include form-title;
    &--icon {
      @include icons;
    }
   
  }
  &__label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &--profileimage {
      margin-top: rem(10);
    }

    &__text {
      &--name {
        @include form-label;
        margin-bottom: rem(7);
        margin-top: rem(25);
      }
      &--jobposition,
      &--email,
      &--telefono,
      &--linkedin,
      &--profileimage,
      &--github {
        @include form-label;
        margin-bottom: rem(7);
        margin-top: rem(7);
      }
    }
    &__container {
      display: flex;
      &--box {
        width: rem(30);
        height: rem(30);
        margin: rem(7) rem(74) rem(20) rem(20);
        border: solid 1px $color-input;
        background-position: center;
        background-size: cover;        
      }
      &--button {
        font-family: $font-Open;
        background-color: $color-orange;
        color: $color-whireOriginal;
        font-size: rem(14);
        border-radius: rem(3);
        width: rem(140);
        height: rem(30);
        margin-top: rem(7);
        padding-top: rem(6);
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
      }
    }
  }
  &__input {
    @include form-placeholder;
    padding: rem(5);
  }
}

.border_button {
  @include border_button;
}
