.container-form {
  @include tablet {
    flex-grow: 2;
  }
  @include desktop {
    flex-grow: 1;
  }
}

.design {
  padding-left: rem(20);
  padding-right: rem(20);
  padding-top: rem(20);
  padding-bottom: rem(30);
  //border-bottom: rem(1) solid $color-lineFormulary;

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__legend {
    @include form-title;
    &--icon {
      @include icons;
    }
    
  }
  &__palette {
    padding-top: rem(20);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__span {
      font-family: $font-Open;
      font-size: rem(14);
      color: $color_gunMetal;
      text-transform: uppercase;
      margin-left: rem(15);
      margin-top: rem(10);
    }
    &__radio {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: rem(20);
      margin-top: rem(15);

      &--colors {
        display: flex;
        flex-direction: row;
        gap: rem(5);
      }
    }
    &__green {
      padding-right: 25vw;
      padding-bottom: 8vw;
      background-image: url(../images/palettes/verdes.png);
      background-size: contain;
      @include tablet {
        padding-right: 15vw;
        padding-bottom: 5vw;
      }
      @include desktop {
        padding-right: 10vw;
        padding-bottom: 3vw;
      }
    }
    &__red {
      padding-right: 25vw;
      padding-bottom: 8vw;
      background-image: url(../images/palettes/naranjas.png);
      background-size: contain;
      @include tablet {
        padding-right: 15vw;
        padding-bottom: 5vw;
      }
      @include desktop {
        padding-right: 10vw;
        padding-bottom: 3vw;
      }
    }
    &__grey {
      padding-right: 25vw;
      padding-bottom: 8vw;
      background-image: url(../images/palettes/grises.png);
      background-size: contain;
      @include tablet {
        padding-right: 15vw;
        padding-bottom: 5vw;
      }
      @include desktop {
        padding-right: 10vw;
        padding-bottom: 3vw;
      }
    }
  }
}

.border_button {
  @include border_button;
}
